<!--  -->
<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1 align="center">Restaurant Table Catalog</h1>

<% cache @reservations do %>
<% @reservations.each do |reservations| %>
<% cache reservations do %>
<ul class="list-group">
  <li>
    <div class="card bg-secondary text-white">
      <li class="card-header"></li>
    </div>
    <li class="card-header"></li>
    <li class="card-body"><h2><%= reservations.rName %></h2></li>
    <li class="card-body"><p><%= link_to reservations.site, target: :_blank %></p></li>
    <li class="card-body"><p><%= number_to_phone(reservations.phone) %></p></li>
    <li class="card-body"><p><%= sanitize(reservations.cuisineType) %></p></li>
    <li class="card-body"><p>Review: <%= reservations.rReview %></p></li>

    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBVjA8mMz_XEk5M-fHYyC0pv-dYt4QUbqE&q=Space+Needle,Seattle+WA" allowfullscreen>
  </iframe>

      <%= button_to 'click to book', cart_items_path(reservation_id: reservations) %>
      <%= button_to 'Reserve + add to Cart', 'reservations/new', :method => 'get' %>
      <!-- ,remote: true %> -->

    </div>
  </li>
</ul>
<% end %>
<% end %>
<% end %>
