<!--  -->
<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1 align="center">Restaurant Table Catalog</h1>
<% @restaurants.each do |restaurant| %>
<ul class="list-group">
  <li>
    <div class="cartButton">
    <li class="list-group-item"><h2><%= restaurant.name %></h2></li>
    <li class="list-group-item"><p><%= link_to restaurant.website, target: :_blank %></p></li>
    <li class="list-group-item"><p><%= number_to_phone(restaurant.phoneNum)%></p></li>
    <li class="list-group-item"><p><%= sanitize(restaurant.cuisineType) %></p></li>
    <li class="list-group-item"><p>Review: <%= restaurant.review %></p></li>

  </div>
  </li>
</ul>
<% end %>
