<!--  -->
<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>Restaurant Table Catalog</h1>
<ul class="catalog">
  <% @restaurants.each do |restaurant| %>
  <li>
    <!-- add images as well -->
    <h2><%= restaurant.name %></h2>
    <h4><%= link_to restaurant.website, target: :_blank %></h4>
    <p><%= number_to_phone(restaurant.phoneNum)%> </p>
    <p>
      <%= sanitize(restaurant.cuisineType) %>
    </p>
    <div class="review"> <%= restaurant.review %>
    </div>
  </li>
  <% end %>
</ul>
