<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- username: 'foodie27',
    firstName: 'Umai',
    lastName: 'Balendra',
    email: 'umai.balendra@gmail.com',
    address: '123 Toronto Road',
    phoneNum: '6472242305',
    paymentMethod: 'Visa Debit' -->

  <!-- New user form: -->
  <!-- <%= form_with(model: @user, local: true) do |form| %> <p>
  <%= form.label :username, "Username: " %>
  <%= form.date_field("reservationDate") %> </p>

  <p><%= form.label :firstName, "First Name: " %>
  <%= form.time_field("reservationTime") %> </p>

  <p><%= form.label :lastName, "Last Name: " %>
  <%= form.select :num_guests, (1..10) %> </p>

  <p><%= form.label :email, "Email: " %>
  <%= form.email_field("email") %> </p>

  <p><%= form.label :address, "Address: " %>
  <%= form.select :num_guests, (1..10) %> </p>

  <p><%= form.label :phoneNum, "Phone Number: " %>
  <%= form.select :num_guests, (1..10) %> </p>

  <p><%= form.label :paymentMethod, "Payment Method:" %>
  <%= form.select :paymentMethod, (1..10) %> </p> -->

  <!-- <% end %> -->


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
