
<%= render @cart %>
<!-- <p id="notice"><%= notice %></p>

<h2> Your Shopping Cart </h2>

<div class="alert alert-success">
  <strong>Success!</strong> Cart item was successfully created.
</div>

<ul>
  <%= render(@cart.cart_items) %>

  <% @cart.cart_items.each do |item| %>
  <li><%= item.quantity %> - <% item.reservation.date %></li>
  <% end %>
</ul>

<% button_to 'Empty cart', @cart, method: :delete,
data: { confirm: 'Are you sure you want to empty your cart?' } %> -->
  <!-- <%= link_to 'Edit', edit_cart_path(@cart) %> |
  <%= link_to 'Back', carts_path %> -->
