<!DOCTYPE html>
<html>
<head>
  <title>UmaiRailsApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://sdks.shopifycdn.com/polaris/1.14.1/polaris.min.css' %>

</head>

<body>
  <header class="main">
    <%= image_tag 'panda.jpg', alt: 'Umais Company' %>
    <h1><%= @page_title %></h1>
  </header>
  <section class="content">

<!-- <dl class="Polaris-DescriptionList"><dt class="Polaris-DescriptionList__Term">Logistics</dt>
  <dd class="Polaris-DescriptionList__Description">The management of products or other resources as they travel between a point of origin and a destination.</dd><dt class="Polaris-DescriptionList__Term">Sole proprietorship</dt>
  <dd class="Polaris-DescriptionList__Description">A business structure where a single individual both owns and runs the company.</dd><dt class="Polaris-DescriptionList__Term">Discount code</dt>
  <dd class="Polaris-DescriptionList__Description">A series of numbers and/or letters that an online shopper may enter at checkout to get a discount or special offer.</dd>
</dl> -->
    <nav class="side_nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/tables">Tables</a></li>
      </ul>
    </nav>
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </section>
</body>
</html>
