<!DOCTYPE html>
<html>
<head>
  <title>UmaiRailsApp</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="jumbotron">
    <%= image_tag 'city.png' %>
  </div>

  <nav class="navbar bg-light">

    <div>
    <ul class="navbar-nav">

      <!-- display cart object in sidebar -->
      <% if @cart %>
      <div id="cart" class="carts">
        <%= render @cart %>
      </div>
      <% end %>

      <li class="nav-item">
        <a class="nav-link" href="/resto_storefronts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/restaurants">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservations">Reservations</a>
      </li>
    </ul>
  </div>
  </nav>

  <header class="main">
    <h1><%= @page_title %></h1>
  </header>

  <section class="content">
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </section>
</body>
</html>
